#background-image{
  position: relative;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: top 400ms;
  transition-timing-function: linear;
}

#background-image.below-screen{
  top: 100%;
}

#background-image.above-screen{
  top: -100%;
}
